name: Release

on:
  push:
    tags:
      - "**"
jobs:
  release:
    strategy:
      matrix:
        mc_version: ["1.18.2", "1.19.2", "1.19.4", "1.20.1", "1.20.6", "1.21"]
    runs-on: ubuntu-latest
    environment: github-actions
    permissions:
      id-token: write
      attestations: write
      contents: write
    steps:
      - name: Clone Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Check for changes
        id: check-for-changes
        run: |
          PREVIOUS_TAG=$(git tag --sort version:refname | tail -n 2 | head -n 1)
          LATEST_TAG=$(git tag --sort version:refname | tail -n 1)

          COMMIT_LOG=$(git log --pretty='format:[%h](${{ github.server_url }}/${{ github.repository }}/commit/%H) - %s <br>' "${PREVIOUS_TAG}".."${LATEST_TAG}" -- Packwiz/${{ matrix.mc_version }})
            
          if [ -n "$COMMIT_LOG" ]; then
              echo "Commit Log between $PREVIOUS_TAG and $LATEST_TAG:"
              echo "prev=${{ github.server_url }}/${{ github.repository }}/commit/$PREVIOUS_TAG" >> $GITHUB_ENV
              echo "latest=${{ github.server_url }}/${{ github.repository }}/commit/$LATEST_TAG" >> $GITHUB_ENV
              echo "commit_log<<EOF" >> $GITHUB_ENV
              echo $COMMIT_LOG>> $GITHUB_ENV 
              echo "EOF" >> $GITHUB_ENV
              echo "changed=true" >> $GITHUB_ENV
          else
              echo "No commits found between $PREVIOUS_TAG and $LATEST_TAG."
              echo "changed=false" >> $GITHUB_ENV
          fi
      - name: Build Pack
        if: env.changed == 'true'
        run: |
          sudo apt-get install -y unzip zip curl
          wget -O packwiz.zip "https://nightly.link/packwiz/packwiz/workflows/go/main/Linux%2064-bit%20x86.zip" && unzip ./packwiz.zip && rm -rf ./packwiz.zip
          mkdir -p /tmp/dist
          chmod +x ./packwiz && mv ./packwiz /tmp/packwiz
          pushd Packwiz/${{ matrix.mc_version}}
          PACK_VERSION=$(grep -oP 'version = "\K[^"]+' "pack.toml")
          echo "PACK_VERSION=$PACK_VERSION" >> $GITHUB_ENV
          /tmp/packwiz modrinth export -o /tmp/dist/TNVBP_${{ matrix.mc_version}}-$PACK_VERSION.mrpack
          popd
      - name: Attest mrpack
        id: attest-mrpack
        if: env.changed == 'true'
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: /tmp/dist/*
      - name: Publish to Modrinth
        if: env.changed == 'true'
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          name: MC${{ matrix.mc_version}}-${{ env.PACK_VERSION }}
          modrinth-id: Ohwb2cTF
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          files: /tmp/dist/TNVBP_${{ matrix.mc_version}}-${{ env.PACK_VERSION }}.mrpack
          changelog: |
            ${{ env.commit_log }}
          loaders: fabric
          game-versions: ${{ matrix.mc_version }}
          version: MC${{ matrix.mc_version}}-${{ env.PACK_VERSION }}
